.buttonContainer {
    grid-area: 3 / 1 / 4 / 2;
}

.buttonImg {
    height: 90%;
    width: 90%;
}

.hitbox {
    background-color: transparent;
    border-radius: 100%;
    border: 0;
    padding: 0;

    transition: all 0.3s;
}

.hitbox:hover {
    transform: translateY(-10px);
    filter: drop-shadow(0 0.325mm 0.815rem rgb(108, 108, 108));
}