.mainContainer {
    display: flex;
    height: 100vh;
}

.imageContainer {
    flex: 2;
    min-width: 950px;
}

.contentContainer {
    flex: 1;

    display: grid;
    grid-template-rows: 1fr repeat(2, 3fr);
    grid-template-rows: minmax(1fr, auto);
}